<h2>Relevant Reviews Containing: {{searchText}}</h2>
<mat-card>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> View More Details </th>
      <td mat-cell *matCellDef="let review">
        <a routerLink="../reviewdetail/{{review._id}}" mat-button> Learn More </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
      <td mat-cell *matCellDef="let review">{{review.points}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let review">{{review.price}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let review">{{review.country}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let review">{{review.title}}</td>
    </ng-container>
    <ng-container matColumnDef="variety">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variety </th>
      <td mat-cell *matCellDef="let review">{{review.variety}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let review; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSize]="15" [pageSizeOptions]="[15,30,45]" showFirstLastButtons>

  </mat-paginator>
</mat-card>
