<div *ngIf="review">
  <h2>Details about {{review.title}} </h2>
  <!-- format as table to make most neat, may have empty values -->
  <p>variety: {{review.variety}}</p>
  <p>country: {{review.country}} province: {{review.province}} region_1: {{review.region_1}} region_2: {{review.region_2}}</p>
  <p>review: {{review.description}}</p>
  <p>taster name: {{review.taster_name}}</p>
  <p>points: {{review.points}}</p>
  <p>price: {{review.price}}</p>
  <p>designation: {{review.designation}}</p>
  <p>title: {{review.title}}</p>
  <p>winery: {{review.winery}}</p>
  <p></p>
  <button (click)="goBack()">go back</button>
</div>
<div>
  <h3>Wine Recommendations</h3>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> View More Details </th>
      <td mat-cell *matCellDef="let review">
        <a href="../reviewdetail/{{review.id}}" mat-button> Learn More </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
      <td mat-cell *matCellDef="let review">{{review.points}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let review">{{review.price}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let review">{{review.country}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let review">{{review.title}}</td>
    </ng-container>
    <ng-container matColumnDef="variety">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variety </th>
      <td mat-cell *matCellDef="let review">{{review.variety}}</td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let review; columns: columnsToDisplay;"></tr>
  </table>
</div>
