<div *ngIf="review">
  <h2>Details about {{review.title}} </h2>
  <!-- format as table to make most neat, may have empty values -->
  <p>variety: {{review.variety}}</p>
  <p>country: {{review.country}}</p>
  <p>review: {{review.description}}</p>
  <p>taster name: {{review.taster_name}}</p>
  <p>points: {{review.points}}</p>
  <p>price: {{review.price}}</p>
  <p>designation: {{review.designation}}</p>
  <p>title: {{review.title}}</p>
  <p>province: {{review.province}}</p>
  <p>region_1: {{review.region_1}}</p>
  <p>region_2: {{review.region_2}}</p>
  <p>winery: {{review.winery}}</p>
  <p></p>
</div>
<div>
  <h3>Wine Recommendations</h3>
  <p>TODO Render 3 wines here</p>
</div>
